@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Fira+Sans:wght@400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #04152d;
  --black2: #041226;
  --black3: #020c1b;
  --black-lighter: #1c4b91;
  --black-light: #173d77;
  --pink: #da2f68;
  --orange: #f89e00;
  --gradient: linear-gradient(98.37deg, #f89e00 0.99%, #da2f68 100%);
  --button-gradient: ;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body {
  @apply bg-[url("/Background.png")];
}

.body {
  @apply bg-gradient-to-r from-white to-gray-400;
}

input,textarea{
  @apply backdrop-blur-sm
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fira Sans", sans-serif;
}

p {
  font-family: "Fira Sans", sans-serif;
}

h1 {
  @apply text-4xl sm:text-5xl md:text-6xl;
}

h2 {
  @apply text-3xl sm:text-4xl;
}

h3 {
  @apply text-2xl sm:text-3xl md:text-3xl;
}

li {
  @apply cursor-pointer;
}

li {
  font-family: "Fira Sans", sans-serif;
}

button {
  @apply shadow-xl shadow-black rounded-xl bg-gradient-to-r from-[#5651e5] to-[#709dff] text-white;
}

@layer components {
  .btn {
    @apply inline-block border border-[#6b7280] bg-[var(--button-gradient)] px-4 py-2 text-[var(--black3)] rounded-[8px] items-center font-semibold hover:bg-[#57575e] hover:text-black transition duration-200;
  }
}

.inputStyle {
  @apply outline-[#09090b] border-slate-900 border rounded-[5px] px-4 py-2 w-[100%];
}
